<!DOCTYPE html>
<html>

<head>
    <title>WeatherApp</title>
    <link rel="icon" href="./img/Anyweather_logo_big.JPG">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main">
        {{>header}}
        <img class="portrait" src={{imagePath}}>
    </div>

    {{>footer}}
</body>

</html>